.header {
    width: 99vw;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.header-logo {
    max-height: 10vh;
    margin: 0 2rem;
}

.header-info {
    max-height: 10vh;
    margin: 0 2rem;
}

.header-info ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}